body {
    background-color: #C1E1A6;
    font-family: 'Lato', sans-serif;
    color: #585858;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #C1E1A6;
    font-family: 'Lato', sans-serif;
}

.visible-text,
.visible-text div,
.visible-text p,
.visible-text h1,
.visible-text h2,
.visible-text h3,
.visible-text h4,
.visible-text h5,
.visible-text h6,
.visible-text th,
.visible-text td
.visible-text button {
    color: #000;
}

#cardQuestionImg {
    width:auto;
    height:340px; /* Height is expected to be changed: see index.js */
}

#signUpButton {
    background: #118C4E;
}

#audio {
    width: 100%;
}

img {
    display: block;
    margin: auto;
}

#signInButton {
    background: #118C4E;
}

.form-group {
    margin-bottom: 8px;
}

legend {
    color: #585858;
    font-family: 'Lato', sans-serif;
   font-size: 28px;
    border-color: #C1E1A6;
}

.stimButton {
    height: 75px;
    overflow: hidden;
    text-overflow:ellipsis; /*Changed to keep text from overflowing outside of the button*/
}

.navbar {
    border-radius: 0;
}

.navbar-inverse {
    background-color: #585858;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    background-color: #585858;
    font-family: 'Lato', sans-serif;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: #585858;
    font-family: 'Lato', sans-serif;
}

.form-control {
    border-radius: 0;
}

.btn {
    color: white;
    border-radius: 0;
    border: none;
    background: #118C4E;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    white-space:normal;
    width: 100%;
}

.btn:hover {
    background-color: #585858;
    color:white;
}

.btn-fix {
    width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control:focus {
    box-shadow: 1px 1px 1px 1px #118C4E;
    border: black;
}

.dropdown-menu {
    background-color: #585858;
    color: white;
}

.dropdown-menu > li > a:focus {
    background-color: #585858;
    color: white;
}

.dropdown-menu > li > a {
    color: white;
    background-color: #585858;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu > li {
    color: white;
    background-color: #585858;
    font-family: 'Lato', sans-serif;
    border-color: black;
}

.dropdown-menu body {
    color: white;
    background-color: #585858;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background-color: #585858;
    font-family: 'Lato', sans-serif;
}

.panel, .panel-heading, .panel-body {
    border-radius: 0;
}

.center-fill-parent {
    width: 100%;
    margin: auto;
}

input:focus {
    box-shadow: 1px 1px 1px 1px #118C4E;
    border: none;
}

.multipleChoiceButton {
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-center * {
    text-align: center;
}

.modal {
    background-color: #C1E1A6;
    font-family: "Lato",sans-serif;
    color: #585858;
}

.switchButton {
    background: #118C4E;
    color: white;
    font-size: 20px;
}

.wrapper {
    text-align: left;
}

.table {
    border: 1px solid #585858;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #585858;
  border-right-width:1px;
  border-left-width:0px;
}
