
<template name="card">
    <nav class="navbar navbar-inverse navbar fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS</a>
            </div>  <!-- close header -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">Score: <span class="badge">{{currentScore}}</span></p>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="homeLink">Home</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="allItemsLink">Progress</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="logoutLink">Logout</a></li>
                            {{#if isInRole 'admin,teacher'}}
                            <li class="divider"></li>
                            <li><a href="#" class="statsPageLink">Results and Stats</a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

    <div class="container">
        {{#if trial}}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 alert alert-info {{fontSizeClass}}"
                id="textQuestion" >
                {{#if textOrClozeCard}}
                {{{currentQuestion}}}
                {{/if}}
                {{#if audioCard}}
                <img src="images/speaker.png" style="width:100px; height:100px;">
                {{/if}}
                {{#if imageCard}}
                <img id="cardQuestionImg" src={{currentQuestion}}>
                {{/if}}
            </div>
        </div>  <!-- close row -->
        {{/if}}

        {{#if study}}
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 {{fontSizeClass}}">
                {{#unless clozeCard}}
                <p id="answerLabel" class="alert alert-info">{{displayAnswer}}</p>
                {{/unless}}
                <div>
                    {{#if skipstudy}}
                    <button type='button' id='continueStudy' name='continueStudy' class='btn  btn-block'>
                        Continue
                    </button>
                    {{/if}}
                </div>
            </div>  <!-- close column -->
        </div>  <!-- close row -->
        {{/if}}

        {{#if testordrill}}
            {{#unless buttonTrial}}
            <div class="row" id="textEntryRow">
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    {{> inputF}}
                </div>
            </div>  <!-- close row -->
            {{/unless}}

            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div id="multipleChoiceContainer">
                        <!-- will contain multiple choice buttons which are dynamically added. -->
                        {{#each buttonList}}
                        <div><button type='button' name='{{buttonName}}' class='btn btn-block multipleChoiceButton'>
                            {{buttonValue}}
                        </button></div>
                        {{/each}}
                    </div>
                </div>
            </div> <!-- close row -->
        {{/if}}

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 {{fontSizeClass}}" id="UserInteraction" hidden></div>
        </div>

        {{#if isInRole 'teacher'}}
        <div class="row">
            <div class="col-lg-12 visible-text text-center">
                {{#if displayAnswer}}
                <h5>
                    Teacher Aid (Answer): {{displayAnswer}}
                </h5>
                {{/if}}
                {{#if currentProgress}}
                <h5>Current Progress: {{currentProgress}}</h5>
                {{/if}}
                {{#if rawAnswer}}
                <h5>
                    Teacher Aid (Raw Answer Text): {{rawAnswer}}
                </h5>
                {{/if}}
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div hidden  class="col-lg-offset-2 col-lg-5" style="text-align: center;" id="overlearningRow">
                <h4 style=" color: #585858;">You are currently overlearning!  Please consider taking a break and coming back later.</h4>
                <button id="overlearningButton" type="button" class="btn " style="width: auto;">Home</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="finalInstructionsDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header visible-text">
                        <button type="button" class="close instructModalDismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Good Bye</h4>
                    </div>
                    <div class="modal-body visible-text">
                        <div id="finalInstructionsText"></div>
                    </div>
                    <div class="modal-footer visible-text">
                        <button type="button" class="btn btn-default instructModalDismiss" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- close container -->

</template>
