<template name="instructions">

    <nav class="navbar navbar-inverse navbar fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS</a>

            </div>  <!-- close header -->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="homeLink">Home</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="allItemsLink">Progress</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="logoutLink">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

    <div class="container">
        <div class="row">
            {{#if backgroundImage}}
            <div class="col-lg-12">
                <img src="{{backgroundImage}}">
            </div>
            {{/if}}
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="body">
                    {{{instructions}}}
                </div>

                <br>
                <div class="form-group">
                    {{#if islockout}}
                        <div id="lockoutDisplay" class="visible-text">
                            <h3 id="lockoutMessage">
                                The rest of the content has been locked until a
                                certain amount of time has elapsed.
                            </h3>
                            <h2 id="lockoutTimeRemaining">&nbsp;</h2>
                        </div>
                    {{/if}}

                    {{#if allowcontinue}}
                    <button type="button" id="continueButton" class="btn ">
                        Continue
                    </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
