<template name="Items">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS
                    {{#if isInRole 'admin,teacher'}}
                    {{#if isInRole 'admin'}} Administrator {{/if}}
                    {{#if isInRole 'teacher'}} Teacher {{/if}}
                    {{else}}
                    Student
                    {{/if}}
                </a>
            </div>  <!-- close header -->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="homeLink">Home</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="allItemsLink">Progress</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="logoutLink">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->
    
    <!-- Adds the two button containers to house the items-->
    <div class="container">
        <legend class="text-center">Select an Item</legend>
        <div class="row" id="itemButtonContainer1">
            <div class="wrapper">
                    <input type="submit" class="switchButton" value="Switch Button Labels">
            </div>
            {{#each item in items}}
                {{#if item.clickable}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>             
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.display}}" style="background-color: {{item.buttonColor}};">
                    </div>
                {{else}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>             
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.display}}" disabled style="background-color: {{item.buttonColor}};">
                    </div> 
                {{/if}}                        
             {{/each}}

        </div>

        <div class="row" id="itemButtonContainer2" style="display: none;">
            <div class="wrapper">
                    <input type="submit" class="switchButton" value="Switch Button Labels">
            </div>
            {{#each item in items}}
                {{#if item.clickable}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>             
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.response}}" style="background-color: {{item.buttonColor}};">
                    </div>
                {{else}}
                    <div class='col-sm-3 col-md-3 col-lg-3 text-center'><br>             
                        <input type="button" class="btn btn-block stimButton" id="{{item.itemId}}" value="{{item.response}}" disabled style="background-color: {{item.buttonColor}};">
                    </div> 
                {{/if}}                        
             {{/each}}
             
        </div>
    </div>   
</template>