<!-- MAIN profile template -->
<template name="profile">
    <nav class="navbar navbar-inverse navbar fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS
                    {{#if isInRole 'admin,teacher'}}
                        {{#if isInRole 'admin'}} Administrator {{/if}}
                        {{#if isInRole 'teacher'}} Teacher {{/if}}
                    {{else}}
                        Student
                    {{/if}}
                </a>
            </div>  <!-- close header -->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="homeLink">Home</a></li>           <li class="divider"></li>
                            <li><a href="#" class="allItemsLink">Progress</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="logoutLink">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

    <div class="container">
        {{#if isInRole 'admin,teacher'}}
            {{> turkWorkflow}}
            <br><br>
        {{/if}}

        <div class="row" id="testButtonContainer">
            <legend class="text-center">
                Your Practice Modules
                {{#if isInRole 'admin,teacher'}}
                    <br>
                    <input type="checkbox" name="simulation" id="simulation" checked={{simulationChecked}}> Simulate if TDF param present?
                {{/if}}
            </legend>
        </div>

        {{#if isInRole 'admin,teacher'}}
            <br><br>
            {{> contentUpload}}
            {{> userProfileEdit}}
        {{/if}}

        {{#if isInRole 'admin'}}
            <br><br>
            {{> userAdmin}}
        {{/if}}
    </div>
</template>
