<template name="signIn">

    <nav class="navbar navbar-inverse navbar fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS</a>
            </div>  <!-- close header -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#if isNormal}}
                    <li><button type="button" id="signUpButton" class="btn  navbar-btn">Sign Up</button></li>
                    {{/if}}
                </ul>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

    <div class="container">
        <div class="row">
            <legend class="text-center">Sign In</legend>
            <form class="form-horizontal" role="form">
                {{#if isExperiment}}
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
                        <input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Your ID">
                    </div>
                </div>
                {{else}}
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
                        <input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Username">
                    </div>
                    <span class="help-inline danger errcheck" id="invalidLogin" hidden >Username password pair not found!</span>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
                        <input class="form-control accept-enter-key" type="password" id="password" value="" placeholder="Password">
                    </div>
                </div>
                {{/if}}
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
                        <button type="button" id="signInButton" class="btn ">Sign In</button>
                    </div>
                    <span class="help-inline danger errcheck" id="serverErrors" hidden ></span>
                </div>
            </form>
        </div>
    </div>
</template>
