<template name="signUp">

	<nav class="navbar navbar-inverse navbar fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MoFaCTS</a>

			</div>  <!-- close header -->

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<button type="button" id="signInButton" class="btn  navbar-btn">Sign In</button>
				</ul>
			</div>  <!-- close navbar-collapse -->
		</div>  <!-- close container -->
	</nav>  <!-- close nav -->

	<div class="container">
		<div class="row">
			<legend class="text-center">Sign Up</legend>

			<form class="form-horizontal" role="form">

				<div class="form-group">
					<div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
						<input class="form-control" type="text" id="signUpUsername" value="" placeholder="Username">
					</div>
					<span class="help-inline danger errcheck" id="usernameTooShort" hidden >Must be at least 6 characters long!</span>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
						<input class="form-control" type="password" id="password1" value="" placeholder="Password">
					</div>
					<span class="help-inline danger errcheck" id="passwordTooShort" hidden >Must be at least 6 characters long!</span>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
						<input class="form-control" type="password" id="password2" value="" placeholder="Re-Type Password">
					</div>
					<span class="help-inline danger errcheck" id="passwordMustMatch" hidden >Password fields must match!</span>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
						<button type="button" id="signUpButton" class="btn ">Sign Up</button>
					</div>
                    <span class="help-inline danger errcheck" id="serverErrors" hidden ></span>
				</div>
			</form>
		</div>
	</div>
</template>
