<template name="statsPage">

	<nav class="navbar navbar-inverse navbar fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MoFaCTS</a>

			</div>  <!-- close header -->

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" class="homeLink">Home</a></li>
							<li class="divider"></li>
							<li><a href="#" class="logoutLink">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>  <!-- close navbar-collapse -->
		</div>  <!-- close container -->
	</nav>  <!-- close nav -->

	<div class="container">
		<div class="row">
			<legend class="text-center"><h2>Congratulations, {{username}}. <br> You finished a session</h2></legend>

            <div id="statsAndStuff" class="visible-text">
                <div class="text-center">
                    <h3> Your Score: <br> {{statsPercentage}} % </h3>
                    <h4> You got {{statsCorrect}} of the {{statsTotal}} questions correct </h4>
                </div>
                <div class="text-center">
                    <button type="button" id="continueButton" class="btn ">Return to Home Screen</button>
                </div>
                <h6>
                    Scoring does not take into account duplicate questions <br>
                    Duplicate questions count individually.
                </h6>
            </div>
		</div>

        {{#if isInRole 'admin,teacher'}}
            <div class="row" style="background-color:#fff;">
                <div class="col-xs-1  col-sm-1  col-md-2 col-lg-3">&nbsp;</div>
                <div class="visible-text col-xs-10 col-sm-10 col-md-8 col-lg-6">
                    <legend class="text-center"><h3>All Answers</h3></legend>
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr><th>Expected Answer</th><th>User Answer</th></tr>
                        </thead>
                        <tbody>
                            {{#each statsAnswerDetails}}
                                <tr class="{{answerState}}">
                                    <td>{{correctAnswer}}</td>
                                    <td>{{userAnswer}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1  col-sm-1  col-md-2 col-lg-3">&nbsp;</div>
            </div>

            <div class="row" style="background-color:#fff;">
                <div class="visible-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <legend class="text-center"><h3>User Times Log (Desc Order)</h3></legend>
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr><th>ServerTime</th><th>ClientTime</th><th>Drift</th><th>Action</th><th>Data</th></tr>
                        </thead>
                        <tbody>
                            {{#each statsUserTimeLogView}}
                                <tr>
                                    <td class="nw">{{serverDate}}</td>
                                    <td class="nw">{{clientDate}}</td>
                                    <td class="nw">{{timeDrift}}</td>
                                    <td class="nw">{{action}}</td>
                                    <td style="font-size: 75%;">{{data}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/if}}
	</div>
</template>
