<template name="tester">
	Welcome, {{username}}
	<legend class="text-center">List of Items with Correctness</legend>
	<div class="row" id="itemLineContainer">
		<ul id="itemList">
		</ul>
	</div>
</template>
